html{
  scrollbar-width: thin;
}
body{
  width: 250px;
  height: auto;
}
summary{
  cursor: pointer;
}
details{
  margin-bottom: 5px;
}
select{
  width: 15em;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings{
  position: relative;
}
.settings div{
  margin-bottom: 5px;
}
.dev{
  position: relative;
}
.new_mode_sw{
  right: 0px !important;
}
.setting_input_num{
  position: relative;
  width: 90px;
  height: 25px;
  right: 30px;
}
.blue_block{
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
#blue_block_opt{
  width: 100%;
}
h1{
  font-size: 1rem;
  text-align: center;
}
h3{
  font-size: 0.55rem;
}
.text_bold{
  font-weight: bold;
}
.about h3{
  margin-bottom: 0;
  font-size: 0.6rem;
}
.settings div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about div{
  display: flex;
  flex-direction: column;
}
.dev div{
  display: flex;
  flex-direction: column;
}
details div .sw_1{
  position: absolute;
  right: 5px;
}
.main_func{
  display: flex;
  align-items: center;
}

.sw_1 {
  width: 70px;
  height: 30px;
  padding: 5px;
}
div .sw_1_input {
  position: absolute;
  z-index: 10;
  opacity: 0;
  width: 70px;
  height: 30px;
  margin: 0;
  cursor: pointer;
}
div .sw_1_label {
  width: 70px;
  height: 30px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 45px;
  transition: 0.5s;
  box-sizing: border-box;
}
input:checked + label {
  background-color: #59cc6e;
}
label:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  cursor: pointer;
}
input:checked + label:after {
  left: 40px;
}
#settings_reset_sw {
  margin: 5px;
}
.append_alert{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.append_alert_message{
  width: 200px;
  max-height: 280px;
  background: white;
  text-align: center;
  border-radius: 10px;
}
.append_alert_message div{
  margin: 5px;
  line-height: 1.1;
}
#append_alert_okbtn{
  width: 60px;
  height: 40px;
}
.mode_selector{
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.mode_selector select, input{
  width: 100%;
  max-width: 250px;
}
.reset_sw_center{
  display: flex;
  justify-content: center;
}
#settings_reset_sw {
  width: 50%;
}

@media screen and (min-width: 300px) {
  body{
    width: 100%;
    height: 100%;
  }
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
  }
  .settings{
    position: relative;
  }
  h1{
    font-size: 3rem;
    text-align: center;
  }
  h3{
    font-size: 2rem;
  }
  details{
    font-size: 3rem;
    margin-bottom: 5px;
  }
  .blue_block{
    margin-bottom: 30px;
  }
  .about h3{
    margin-bottom: 0;
    font-size: 2rem;
  }
  .about_text{
    font-size: 1.8rem;
  }
  .settings div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
  .new_mode_sw{
    margin-bottom: 0 !important;
  }
  .about div{
    display: flex;
    flex-direction: column;
  }
  details div .sw_1{
    position: absolute;
    right: 5px;
  }
  .main_func{
    display: flex;
    align-items: center;
  }
  .setting_input_num {
    width: 100%;
    height: 100%;
    right: 0;
    font-size: 2rem;
  }
  #blue_block_opt {
    /*width: 50%;*/
    height: 6rem;
    font-size: 2rem;
  }
  .mg_btm {
    margin-bottom: 30px;
  }
  .mode_selector{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .mode_selector select, input{
    width: 100%;
    height: 6rem;
    font-size: 2rem;
    max-width: 960px;
  }
  .sw_1 {
    width: 170px;
    height: 100px;
    padding: 20px;
  }
  div .sw_1_input {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 140px;
    height: 100px;
    margin: 0;
    cursor: pointer;
  }
  div .sw_1_label {
    width: 100%;
    height: 90px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 45px;
    transition: 0.5s;
    box-sizing: border-box;
  }
  input:checked + label {
    background-color: #59cc6e;
  }
  label:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    cursor: pointer;
    top: -5px;
  }
  input:checked + label:after {
    left: 75px;
    top: -5px;
  }
  .reset_sw_center{
    display: flex;
    justify-content: center;
  }
  #settings_reset_sw {
    margin-top: 30px;
    font-size: 3rem;
    width: 50%;
  }
  #hiturl_copy_opt {
    margin: 5px;
  }
  .append_alert{
    position: fixed;
    z-index: 1000;
    width: 101vw;
    height: 120vh;
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .append_alert_message{
    width: 85%;
    max-height: 500px;
    background: white;
    text-align: center;
    margin: 8px;
    border-radius: 10px;
  }
  .append_alert_message div{
    margin: 5px;
    line-height: 1.1;
  }
  .append_alert_message div p{
    font-size: 2rem;
  }
  #append_alert_okbtn{
    width: 7rem;
    height: 5rem;
    font-size: 2rem;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(29, 28, 34);
    color: #fff;
  }
  .append_alert_message{
    background: rgb(29, 28, 34);
  }
}