html{
  scrollbar-width: thin;
  body {
  font-family: system-ui;
  }
  color-scheme: light dark;
}
body{
  width: 250px;
  height: auto;
}
summary{
  cursor: pointer;
}
details{
  margin-bottom: 5px;
}
select{
  width: 15em;
}
hr{
  margin: 0;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings{
  position: relative;
}
.settings div{
  margin-bottom: 5px;
}
.dev{
  position: relative;
}
.new_mode_sw{
  right: 0px !important;
}
.setting_input_num{
  position: relative;
  width: 90px;
  height: 25px;
  right: 30px;
}
.blue_block{
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
#blue_block_opt{
  width: 100%;
}
h1{
  font-size: 1rem;
  text-align: center;
}
h3{
  font-size: 0.55rem;
  margin-left: 2%;
}
.text_bold{
  font-weight: bold;
}
.about h3{
  margin-bottom: 0;
  font-size: 0.6rem;
}
.settings div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about div:not(.op_other_link_btn_wrap){
  display: flex;
  flex-direction: column;
}
.dev div{
  display: flex;
  flex-direction: column;
}
details div .sw_1{
  position: absolute;
  right: 5px;
}
.main_func{
  display: flex;
  align-items: center;
}

.sw_1 {
  width: 70px;
  height: 30px;
  padding: 5px;
}
div .sw_1_input {
  position: absolute;
  z-index: 10;
  opacity: 0;
  width: 70px;
  height: 30px;
  margin: 0;
  cursor: pointer;
}
div .sw_1_label {
  width: 70px;
  height: 30px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 45px;
  transition: 0.5s;
  box-sizing: border-box;
}
input:checked + label {
  background-color: #59cc6e;
}
label:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  cursor: pointer;
}
input:checked + label:after {
  left: 40px;
}
#settings_reset_sw, #debug_info_dump_sw {
  margin: 5px;
}

.op_setting_manager_btn_wrap{
  border-radius: 3px;
  justify-content: space-between;
  cursor: pointer;
}
.op_setting_manager_btn_wrap:hover{
  background-color: #74747426;
}
.op_setting_manager_btn_wrap .settings_manager_icon{
  margin-right: 4%;
  background: url(./settings_manager_menu.svg) no-repeat center;
  height: 8px;
  width: 8px;
}

.op_other_link_btn_wrap{
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}
.op_other_link_btn_wrap:hover{
  background-color: #74747426;
}
.op_other_link_btn_wrap .other_link_icon{
  margin-right: 4%;
  background: url(./new_window.svg) no-repeat center;
  height: 8px;
  width: 8px;
}
.op_other_link_btn_wrap h3{
  margin-top: 0;
}
.op_other_link_btn_no_decoration a{
  text-decoration:none;
  color: inherit;
}

.settings_manager_textarea{
  width: 180px;
  height: 220px;
}

.append_alert{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.append_alert_message{
  width: 200px;
  max-height: 350px;
  background: white;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}
.append_alert_message textarea{
  resize: none;
}
.append_alert_message div{
  margin: 5px;
  line-height: 1.1;
  font-size: 0.85rem;
}
#append_alert_okbtn{
  width: 60px;
  height: 40px;
}
.mode_selector{
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.mode_selector select, input{
  width: 100%;
  max-width: 250px;
}
.reset_sw_center{
  display: flex;
  justify-content: center;
}
#settings_reset_sw {
  width: 50%;
}
.adv_set_check_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adv_set_content{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

@media screen and (min-width: 300px) {
  body{
    width: 100%;
    height: 100%;
  }
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
  }
  .settings{
    position: relative;
  }
  h1{
    font-size: 3rem;
    text-align: center;
  }
  h3{
    font-size: 2rem;
  }
  details{
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
  .adv_set_content{
    margin-bottom: 5px;
    margin-bottom: 50px;
  }
  .adv_set_content input[type="checkbox"]{
    height: 5rem;
  }
  .blue_block{
    margin-bottom: 30px;
  }
  .about h3{
    margin-bottom: 0;
    font-size: 2rem;
  }
  .about_text{
    font-size: 1.8rem;
  }
  .settings div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
  .new_mode_sw{
    margin-bottom: 0 !important;
  }
  /*.about div{
    display: flex;
    flex-direction: column;
  }*/
  details div .sw_1{
    position: absolute;
    right: 5px;
  }
  .main_func{
    display: flex;
    align-items: center;
  }
  .setting_input_num {
    width: 100%;
    height: 100%;
    right: 0;
    font-size: 2rem;
  }
  #blue_block_opt {
    /*width: 50%;*/
    height: 6rem;
    font-size: 2rem;
  }
  .mg_btm {
    margin-bottom: 30px;
  }
  .mode_selector{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .mode_selector select, input{
    width: 100%;
    height: 6rem;
    font-size: 2rem;
    max-width: 960px;
  }
  .sw_1 {
    width: 170px;
    height: 100px;
    padding: 20px;
  }
  div .sw_1_input {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 140px;
    height: 100px;
    margin: 0;
    cursor: pointer;
  }
  div .sw_1_label {
    width: 100%;
    height: 90px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 45px;
    transition: 0.5s;
    box-sizing: border-box;
  }
  input:checked + label {
    background-color: #59cc6e;
  }
  label:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    cursor: pointer;
    top: -5px;
  }
  input:checked + label:after {
    left: 75px;
    top: -5px;
  }
  .reset_sw_center{
    display: flex;
    justify-content: center;
  }
  #settings_reset_sw {
    margin-top: 30px;
    font-size: 3rem;
    width: 50%;
  }
  #hiturl_copy_opt {
    margin: 5px;
  }
  .op_setting_manager_btn_wrap .settings_manager_icon {
    height: 20px;
    width: 20px;
  }
  .op_other_link_btn_wrap .other_link_icon {
    height: 20px;
    width: 20px;
  }
  .append_alert{
    position: fixed;
    z-index: 1000;
    width: 101vw;
    height: 120vh;
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .append_alert_message{
    width: 85%;
    max-height: 500px;
    background: white;
    text-align: center;
    margin: 8px;
    border-radius: 10px;
    overflow: hidden;
  }
  .mobile_manager_wrap{
    height: 100% !important;
  }
  .mobile_manager div {
    font-size: 2.8rem;
  }
  .settings_manager_textarea {
    width: 800px;
    height: 720px;
    font-size: 2.2rem;
  }
  .mobile_manager button{
    font-size: 3rem;
    width: 200px;
    height: 90px;
    margin-top: 5px;
  }
  .append_alert_message.mobile_manager{
    height: 100% !important;
    max-height: 1150px !important;
  }
  .append_alert_message div{
    margin: 5px;
    line-height: 1.1;
  }
  .append_alert_message div p{
    font-size: 2rem;
  }
  #append_alert_okbtn{
    width: 7rem;
    height: 5rem;
    font-size: 2rem;
  }
  .op_other_link_btn_wrap{
    height: 100px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(29, 28, 34);
    color: #fff;
  }
  .append_alert_message{
    background: rgb(29, 28, 34);
  }
  .op_setting_manager_btn_wrap .settings_manager_icon{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(124deg) brightness(107%) contrast(101%);
  }
  .op_other_link_btn_wrap .other_link_icon{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(124deg) brightness(107%) contrast(101%);
  }
}
/*Safari*/
_::-webkit-full-page-media, _:future, :root body {
    body{
        width: 97%;
        
    }
    h1{
        font-size:1.5rem;
    }
    section{
        width: 96%
    }
    .main {
        font-size: 1.5rem;
    }
    details {
        font-size: 1.3rem;
        margin-bottom: 1rem !important;
    }
    h3 {
        font-size: 0.9rem;
    }
    
    .blue_block {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    details div .sw_1 {
        position: absolute;
        right: 5px;
    }
    .sw_1 {
        width: 70px;
        height: 40px;
        padding: 0;
        margin: 0 0.5rem;
    }
    div .sw_1_input {
        position: absolute;
        z-index: 10;
        opacity: 0;
        width: 70px;
        height: 40px;
        margin: 0;
        cursor: pointer;
    }
    div .sw_1_label {
        height: 40px;
    }
    label:after {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        top: 0;
    }
    input:checked + label:after {
        left: 30px;
    }
    .setting_input_num {
        right: 10px;
        width: 80%;
        height: 50%;
        font-size: 1.6rem;
    }
    .mode_selector select, input {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
    }
    .mode_selector select, input[type="text"] {
        width: 100%;
    }
    .adv_set_check_content {
        font-size: 1.15rem;
    }
    .op_setting_manager_btn_wrap .settings_manager_icon {
      height: 10px;
      width: 10px;
    }
    .op_other_link_btn_wrap .other_link_icon {
      height: 10px;
      width: 10px;
    }
    #blue_block_opt {
        height: 2.5rem;
        font-size: 1.2rem;
    }
    .mode_selector {
        width: 100%;
    }
    .mode_selector select{
        width: 100%;
        height: 2.5rem;
        font-size: 1.2rem;
    }
    
    .append_alert_message.mobile_manager {
        height: initial !important;
        max-height: 1150px !important;
    }
    .mobile_manager div {
        font-size: 1.2rem;
    }
    .settings_manager_textarea {
        width: 250px;
        height: 54%;
        font-size: 1.1rem;
    }
    .mobile_manager button {
        font-size: 1.5rem;
        width: 130px;
        height: 60px;
        margin-top: 5px;
    }
    .adv_set_content input[type="checkbox"] {
    height: 1.8rem;
    }
    .op_other_link_btn_wrap{
      height: 50px;
    }
    
    #hiturl_copy_opt {
        margin: 0;
    }
    #debug_info_dump_sw {
        margin: 10px;
        height: 2rem;
        font-size: 1.2rem;
    }
    #settings_reset_sw {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    .about_text {
        font-size: 1.2rem;
    }
    .append_alert {
        height: 100vh;
    }
    .append_alert_message div p {
        font-size: 1.5rem;
    }
    #append_alert_okbtn {
        width: 6rem;
        height: 3rem;
        font-size: 1.5rem;
    }
    .append_alert_message div {
        margin: 10px;
    }
}
